* {
    margin: 0px;
    padding: 0px;
  }

  
  body {
    font-family: 'helvetica';
    font-size: 120%;
    background: #c1bdba;
  }
  
  .header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: rgba(19, 35, 47, 0.9);
    text-align: center;
    border: 1px solid rgba(19, 35, 47, 0.9);
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
  form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    background: rgba(19, 35, 47, 0.9);
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);

  }
  .input-group {
    position: relative;
    margin-bottom: 40px;
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  p {
    color: aliceblue;
  }

  a {
    color: #1ab188;
  }
  label{
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
  }
  label.active {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    left: 2px;
    font-size: 14px;
  }
  label.active {
    opacity: 0;
  }
  
  label.highlight {
    color: #ffffff;
  }
  .input-group input,textarea {
    font-size: 20px;
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    color: #ffffff;
    border-radius: 0;
    border: 1px solid gray;
    background: none;

  }

  input:focus, textarea:focus {
    outline: 0;
    border-color: #1ab188;
  }
  
  textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
  }


  .field-wrap {
    position: relative;
    margin-bottom: 40px;
  }
  
  .top-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
  .top-row > div:last-child {
    margin: 0;
  }
  
  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #1ab188;
    border: none;
    border-radius: 5px;
  }
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }